.intro{
    color: white;
    padding: 10%;
    border-radius: 28px;
    background-color: rgb(30, 30, 30);

}

main{
    height: 55.6vw;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.btn-intro{
    margin-top: 3%;
    margin-left: 28%;
    border-radius: 11px;
    padding: 10px 15px;
    background-color: #FFD043;
}